.footer-container{
    width: 1519px;
    height: 806px;
    background-color: rgb(46, 69, 71);
}
.footer-box-infos{
    display:flex;
    justify-content: space-around;
    width: 1519px;
    height: 706px;
    background-color: rgb(46, 69, 71);
    border-bottom: 1px solid rgb(212, 237, 238);
}
.footer-additionally{
    text-align: center;
    padding-top: 40px;
    color:rgb(184, 216, 219);
}